In [20]:
import pandas as pd

In [21]:
raw_data = pd.read_csv("C:/Users/HP/Documents/online_retail.csv")

In [22]:
df=raw_data.copy()

In [23]:
raw_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [24]:

df = raw_data.rename(columns={
    "InvoiceNo": "order_number",
    "StockCode": "product_code",
    "Description": "product_name",
    "Quantity": "items_sold",
    "InvoiceDate": "order_date",
    "UnitPrice": "price_per_item",
    "CustomerID": "customer_id",
    "Country": "customer_country"
})

In [25]:
df

,order_number,product_code,product_name,items_sold,order_date,price_per_item,customer_id,customer_country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [26]:
df.duplicated('order_number').sum()

np.int64(516009)

In [27]:
df.isnull().sum()

order_number             0
product_code             0
product_name          1454
items_sold               0
order_date               0
price_per_item           0
customer_id         135080
customer_country         0
dtype: int64

In [33]:
df = df.dropna(subset=['customer_id'])

In [36]:
df['customer_id'].isnull().sum()

np.int64(0)

In [37]:
df = df[(df['items_sold'] > 0) & (df['price_per_item'] > 0)]

In [38]:
df

,order_number,product_code,product_name,items_sold,order_date,price_per_item,customer_id,customer_country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

          items_sold  price_per_item
count  397884.000000   397884.000000
mean       12.988238        3.116488
std       179.331775       22.097877
min         1.000000        0.001000
25%         2.000000        1.250000
50%         6.000000        1.950000
75%        12.000000        3.750000
max     80995.000000     8142.750000

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397884 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_number      397884 non-null  object
 1   product_code      397884 non-null  object
 2   product_name      397884 non-null  object
 3   items_sold        397884 non-null  int64
 4   order_date        397884 non-null  object
 5   price_per_item    397884 non-null  float64
 6   customer_id       397884 non-null  float64
 7   customer_country  397884 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.3+ MB

In [49]:
df['order_date'] = pd.to_datetime(df['order_date'], format='%m/%d/%Y')

C:\Users\HP\AppData\Local\Temp\ipykernel_18688\2758233706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order_date'] = pd.to_datetime(df['order_date'], format='%m/%d/%Y')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397884 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_number      397884 non-null  object
 1   product_code      397884 non-null  object
 2   product_name      397884 non-null  object
 3   items_sold        397884 non-null  int64
 4   order_date        397884 non-null  datetime64[ns]
 5   price_per_item    397884 non-null  float64
 6   customer_id       397884 non-null  float64
 7   customer_country  397884 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.3+ MB

In [51]:
df.head()

,order_number,product_code,product_name,items_sold,order_date,price_per_item,customer_id,customer_country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [57]:
df['order_date'].tail(10)

541899   2011-12-09 12:50:00
541900   2011-12-09 12:50:00
541901   2011-12-09 12:50:00
541902   2011-12-09 12:50:00
541903   2011-12-09 12:50:00
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: order_date, dtype: datetime64[ns]

In [53]:
df.to_csv("C:/Users/HP/Documents/online_retail_cleaned.csv", index=False)